.container{
    width: 400px;
    height:500px;
    align-items: center;
    /* border: 1px solid green; */
    margin-top:0px;
    margin-right:300px;
    box-shadow:3px 1px 10px 1px green
}
.view{
    margin-top:10px;
    margin-left:5px;
}
*{
    color:aliceblue;
}
.two{
    display:flex;


    
}
.hello{
    margin-top:80px;
    margin-left:50px;
    box-shadow:3px 1px 10px 1px gray;
  
}
input[type="text"]{
    background-color:black;
    color:green;
}
.hi{
    background-color:black;
    color:green;
}
