.flex{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap:18px;
    margin-top:20px;
   margin-left:50px;
}

.card{
    /* border:2px solid white; */
    width:12rem;
    height:23rem;
    color:aliceblue;
    box-shadow:1px 2px 10px green;

}
.card-body{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;

}
.head{
  
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
*{
    background-color: black;
    
}
.card:hover{
  box-shadow:1px 2px 10px red;

}
.menu{
  position:relative;
  /* display:inline-block; */
}
.dots{
  width:3px;
  height:3px;

  border-radius:50%;
  cursor:pointer;
}
.dropdown{
  display:none;
  position:absolute;
  padding:0;
  list-style:none;

}
.dropdown li{
  padding:5px;
}
.dropdown li a{
  text-decoration:none;
  display:block;
}
.menu:hover .dropdown{
  display:block;
}